* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: #f4f1de;
  background-color: #3d405b;
}

.decrease {
  background-color: #e07a5f;
}

.reset {
  background-color: #f2cc8f;
}

.increase {
  background-color: #81b29a;
}
